 Бинарные файлы и кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы и каталоги Django
logs/*.log
*.sqlite-wal
*.sqlite-shm

# Конфигурационные файлы среды разработки
.venv
.venv.*
# Временные файлы и метаданные IDE
.idea/
.project
.workspace
.vscode/
*~
*.swp
*.swo
.DS_Store
Thumbs.db
Desktop.ini

# Локальные файлы конфигурации и сборочные файлы
Dockerfile.dev
docker-compose.override.yml


/htmlcov/
/.coverage
/db.sqlite3
/coverage.xml
/service/migrations/0005_customuser_avatar_customuser_avatar_ppoi_and_more.py
/collected_static/jet/css/_base.scss
/collected_static/jet/css/_breadcrumbs.scss
/collected_static/jet/css/_changeform.scss
/collected_static/jet/css/_changelist.scss
/collected_static/jet/css/_content.scss
/collected_static/jet/css/_dashboard.scss
/collected_static/jet/css/_delete-confirmation.scss
/collected_static/jet/css/_forms.scss
/collected_static/jet/css/_globals.scss
/collected_static/jet/css/_header.scss
/collected_static/jet/css/_helpers.scss
/collected_static/jet/css/jquery-ui/_jquery-ui.theme.scss
/collected_static/jet/css/select2/_layout.scss
/collected_static/jet/css/_login.scss
/collected_static/jet/css/_messages.scss
/collected_static/jet/css/_modules.scss
/collected_static/jet/css/select2/_multiple.scss
/collected_static/jet/css/_object-tools.scss
/collected_static/jet/css/_relatedpopup.scss
/collected_static/jet/css/_sidebar.scss
/collected_static/jet/css/select2/_single.scss
/collected_static/jet/css/_tables.scss
/collected_static/jet/css/icons/_variables.scss
/collected_static/jet/css/themes/default/_variables.scss
/collected_static/jet/css/themes/green/_variables.scss
/collected_static/jet/css/themes/light-blue/_variables.scss
/collected_static/jet/css/themes/light-gray/_variables.scss
/collected_static/jet/css/themes/light-green/_variables.scss
/collected_static/jet/css/themes/light-violet/_variables.scss
/collected_static/jet/css/_variables.scss
/collected_static/drf-yasg/swagger-ui-dist/absolute-path.js
/collected_static/admin/js/actions.js
/collected_static/jet/js/src/layout-updaters/actions.js
/collected_static/admin/js/vendor/select2/i18n/af.js
/collected_static/rest_framework/js/ajax-form.js
/collected_static/rest_framework/docs/js/api.js
/collected_static/jet/js/src/features/sidebar/application-pinning.js
/collected_static/admin/js/vendor/select2/i18n/ar.js
/collected_static/admin/css/autocomplete.css
/collected_static/admin/js/autocomplete.js
/collected_static/admin/js/vendor/select2/i18n/az.js
/collected_static/jet/js/i18n/select2/az.js
/collected_static/admin/css/base.css
/collected_static/jet/css/themes/default/base.css
/collected_static/jet/css/themes/green/base.css
/collected_static/jet/css/themes/light-blue/base.css
/collected_static/jet/css/themes/light-gray/base.css
/collected_static/jet/css/themes/light-green/base.css
/collected_static/jet/css/themes/light-violet/base.css
/collected_static/rest_framework/docs/css/base.css
/collected_static/jet/css/themes/default/base.css.map
/collected_static/jet/css/themes/green/base.css.map
/collected_static/jet/css/themes/light-blue/base.css.map
/collected_static/jet/css/themes/light-gray/base.css.map
/collected_static/jet/css/themes/light-green/base.css.map
/collected_static/jet/css/themes/light-violet/base.css.map
/collected_static/jet/css/themes/default/base.scss
/collected_static/jet/css/themes/green/base.scss
/collected_static/jet/css/themes/light-blue/base.scss
/collected_static/jet/css/themes/light-gray/base.scss
/collected_static/jet/css/themes/light-green/base.scss
/collected_static/jet/css/themes/light-violet/base.scss
/collected_static/admin/js/vendor/select2/i18n/bg.js
/collected_static/jet/js/i18n/select2/bg.js
/collected_static/admin/js/vendor/select2/i18n/bn.js
/collected_static/jet/js/src/features/sidebar/bookmarks.js
/collected_static/rest_framework/css/bootstrap.min.css
/collected_static/rest_framework/css/bootstrap.min.css.map
/collected_static/rest_framework/js/bootstrap.min.js
/collected_static/rest_framework/css/bootstrap-theme.min.css
/collected_static/rest_framework/css/bootstrap-theme.min.css.map
/collected_static/rest_framework/css/bootstrap-tweaks.css
/collected_static/jet/js/src/layout-updaters/branding.js
/collected_static/jet/js/src/layout-updaters/breadcrumbs.js
/collected_static/admin/js/vendor/select2/i18n/bs.js
/collected_static/jet/js/build/bundle.min.js
/collected_static/admin/js/vendor/select2/i18n/ca.js
/collected_static/jet/js/i18n/select2/ca.js
/collected_static/admin/js/calendar.js
/collected_static/admin/img/calendar-icons.svg
/collected_static/admin/js/cancel.js
/collected_static/admin/js/change_form.js
/collected_static/jet/js/src/features/changeform.js
/collected_static/jet/js/src/features/changeform-tabs.js
/collected_static/jet/js/src/layout-updaters/changeform-tabs.js
/collected_static/jet/js/src/features/changelist.js
/collected_static/admin/css/changelists.css
/collected_static/jet.dashboard/vendor/chart.js/Chart.js
/collected_static/jet.dashboard/vendor/chart.js/Chart.min.js
/collected_static/jet/js/src/features/checkboxes.js
/collected_static/jet/js/src/features/compact-inline.js
/collected_static/jet.dashboard/vendor/chart.js/CONTRIBUTING.md
/collected_static/admin/js/core.js
/collected_static/rest_framework/js/coreapi-0.1.1.js
/collected_static/admin/js/vendor/select2/i18n/cs.js
/collected_static/jet/js/i18n/select2/cs.js
/collected_static/rest_framework/js/csrf.js
/collected_static/admin/js/vendor/select2/i18n/da.js
/collected_static/jet/js/i18n/select2/da.js
/collected_static/admin/css/dark_mode.css
/collected_static/admin/css/dashboard.css
/collected_static/jet/js/src/features/dashboard.js
/collected_static/jet/js/src/features/date-time-widgets.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-af.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-ar.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-ar-DZ.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-az.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-be.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-bg.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-bs.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-ca.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-cs.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-cy-GB.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-da.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-de.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-el.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-en-AU.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-en-GB.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-en-NZ.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-eo.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-es.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-et.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-eu.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-fa.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-fi.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-fo.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-fr.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-fr-CA.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-fr-CH.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-gl.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-he.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-hi.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-hr.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-hu.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-hy.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-id.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-is.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-it.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-it-CH.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-ja.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-ka.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-kk.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-km.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-ko.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-ky.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-lb.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-lt.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-lv.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-mk.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-ml.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-ms.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-nb.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-nl.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-nl-BE.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-nn.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-no.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-pl.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-pt.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-pt-BR.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-rm.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-ro.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-ru.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-sk.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-sl.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-sq.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-sr.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-sr-SR.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-sv.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-ta.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-th.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-tj.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-tr.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-uk.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-vi.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-zh-CN.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-zh-HK.js
/collected_static/jet/js/i18n/jquery-ui/datepicker-zh-TW.js
/collected_static/admin/js/admin/DateTimeShortcuts.js
/collected_static/admin/js/vendor/select2/i18n/de.js
/collected_static/jet/js/i18n/select2/de.js
/collected_static/rest_framework/css/default.css
/collected_static/rest_framework/js/default.js
/collected_static/jet/js/src/layout-updaters/delete-confirmation.js
/docker-compose.yml
/docker/Dockerfile
/collected_static/admin/js/vendor/select2/i18n/dsb.js
/redis/data/dump.rdb
/collected_static/admin/js/vendor/select2/i18n/el.js
/collected_static/admin/js/vendor/select2/i18n/en.js
/collected_static/jet/js/i18n/select2/en.js
/collected_static/admin/js/vendor/select2/i18n/es.js
/collected_static/jet/js/i18n/select2/es.js
/collected_static/admin/js/vendor/select2/i18n/et.js
/collected_static/jet/js/i18n/select2/et.js
/collected_static/admin/js/vendor/select2/i18n/eu.js
/collected_static/jet/js/i18n/select2/eu.js
/exports/export2025-10-12_12-21-29.yaml
/exports/export2025-10-12_14-17-30.yaml
/exports/export2025-10-12_14-39-23.yaml
/exports/export2025-10-12_14-56-44.yaml
/exports/export2025-10-12_15-58-38.yaml
/exports/export2025-10-12_19-29-45.yaml
/exports/export2025-10-12_20-21-06.yaml
/exports/export2025-10-12_21-11-36.yaml
/exports/export2025-10-12_21-12-48.yaml
/exports/export2025-10-12_21-20-07.yaml
/exports/export2025-10-12_21-24-44.yaml
/collected_static/admin/js/vendor/select2/i18n/fa.js
/collected_static/jet/js/i18n/select2/fa.js
/collected_static/rest_framework/docs/img/favicon.ico
/collected_static/drf-yasg/swagger-ui-dist/favicon-32x32.png
/collected_static/admin/js/vendor/select2/i18n/fi.js
/collected_static/jet/js/i18n/select2/fi.js
/collected_static/admin/js/filters.js
/collected_static/jet/js/src/features/filters.js
/collected_static/rest_framework/css/font-awesome-4.0.3.css
/collected_static/rest_framework/fonts/fontawesome-webfont.eot
/collected_static/rest_framework/fonts/fontawesome-webfont.svg
/collected_static/rest_framework/fonts/fontawesome-webfont.ttf
/collected_static/rest_framework/fonts/fontawesome-webfont.woff
/collected_static/admin/css/fonts.css
/collected_static/admin/css/forms.css
/collected_static/admin/js/vendor/select2/i18n/fr.js
/collected_static/jet/js/i18n/select2/fr.js
/collected_static/admin/js/vendor/select2/i18n/gl.js
/collected_static/jet/js/i18n/select2/gl.js
/collected_static/rest_framework/img/glyphicons-halflings.png
/collected_static/rest_framework/fonts/glyphicons-halflings-regular.eot
/collected_static/rest_framework/fonts/glyphicons-halflings-regular.svg
/collected_static/rest_framework/fonts/glyphicons-halflings-regular.ttf
/collected_static/rest_framework/fonts/glyphicons-halflings-regular.woff
/collected_static/rest_framework/fonts/glyphicons-halflings-regular.woff2
/collected_static/rest_framework/img/glyphicons-halflings-white.png
/collected_static/jet.dashboard/dashboard_modules/google_analytics.js
/collected_static/rest_framework/docs/img/grid.png
/collected_static/rest_framework/img/grid.png
/collected_static/admin/js/vendor/select2/i18n/he.js
/collected_static/jet/js/i18n/select2/he.js
/collected_static/admin/js/vendor/select2/i18n/hi.js
/collected_static/jet/js/i18n/select2/hi.js
/collected_static/rest_framework/docs/css/highlight.css
/collected_static/rest_framework/docs/js/highlight.pack.js
/collected_static/admin/js/vendor/select2/i18n/hr.js
/collected_static/jet/js/i18n/select2/hr.js
/collected_static/admin/js/vendor/select2/i18n/hsb.js
/collected_static/admin/js/vendor/select2/i18n/hu.js
/collected_static/jet/js/i18n/select2/hu.js
/collected_static/admin/js/vendor/select2/i18n/hy.js
/collected_static/admin/img/icon-addlink.svg
/collected_static/admin/img/icon-alert.svg
/collected_static/admin/img/icon-calendar.svg
/collected_static/admin/img/icon-changelink.svg
/collected_static/admin/img/icon-clock.svg
/collected_static/admin/img/icon-deletelink.svg
/collected_static/admin/img/icon-hidelink.svg
/collected_static/admin/img/icon-no.svg
/collected_static/admin/img/icon-unknown.svg
/collected_static/admin/img/icon-unknown-alt.svg
/collected_static/admin/img/icon-viewlink.svg
/collected_static/admin/img/icon-yes.svg
/collected_static/jet/js/src/layout-updaters/icons.js
/collected_static/admin/js/vendor/select2/i18n/id.js
/collected_static/jet/js/i18n/select2/id.js
/collected_static/drf-yasg/immutable.js
/collected_static/drf-yasg/immutable.min.js
/collected_static/drf-yasg/swagger-ui-dist/index.css
/collected_static/drf-yasg/swagger-ui-dist/index.js
/collected_static/admin/img/inline-delete.svg
/collected_static/admin/js/inlines.js
/collected_static/jet/js/src/features/inlines.js
/collected_static/drf-yasg/insQ.js
/collected_static/drf-yasg/insQ.min.js
/collected_static/admin/js/vendor/select2/i18n/is.js
/collected_static/jet/js/i18n/select2/is.js
/collected_static/admin/js/vendor/select2/i18n/it.js
/collected_static/jet/js/i18n/select2/it.js
/collected_static/admin/js/vendor/select2/i18n/ja.js
/collected_static/jet/css/icons/fonts/jet-icons.eot
/collected_static/jet/css/icons/fonts/jet-icons.svg
/collected_static/jet/css/icons/fonts/jet-icons.ttf
/collected_static/jet/css/icons/fonts/jet-icons.woff
/collected_static/admin/js/jquery.init.js
/collected_static/admin/js/vendor/jquery/jquery.js
/collected_static/rest_framework/docs/css/jquery.json-view.min.css
/collected_static/rest_framework/docs/js/jquery.json-view.min.js
/collected_static/admin/js/vendor/jquery/jquery.min.js
/collected_static/jet/js/i18n/jquery-ui-timepicker/jquery.ui.timepicker-cs.js
/collected_static/jet/js/i18n/jquery-ui-timepicker/jquery.ui.timepicker-de.js
/collected_static/jet/js/i18n/jquery-ui-timepicker/jquery.ui.timepicker-es.js
/collected_static/jet/js/i18n/jquery-ui-timepicker/jquery.ui.timepicker-fr.js
/collected_static/jet/js/i18n/jquery-ui-timepicker/jquery.ui.timepicker-hr.js
/collected_static/jet/js/i18n/jquery-ui-timepicker/jquery.ui.timepicker-hu.js
/collected_static/jet/js/i18n/jquery-ui-timepicker/jquery.ui.timepicker-it.js
/collected_static/jet/js/i18n/jquery-ui-timepicker/jquery.ui.timepicker-ja.js
/collected_static/jet/js/i18n/jquery-ui-timepicker/jquery.ui.timepicker-mk.js
/collected_static/jet/js/i18n/jquery-ui-timepicker/jquery.ui.timepicker-nl.js
/collected_static/jet/js/i18n/jquery-ui-timepicker/jquery.ui.timepicker-pl.js
/collected_static/jet/js/i18n/jquery-ui-timepicker/jquery.ui.timepicker-pt-BR.js
/collected_static/jet/js/i18n/jquery-ui-timepicker/jquery.ui.timepicker-ru.js
/collected_static/jet/js/i18n/jquery-ui-timepicker/jquery.ui.timepicker-sl.js
/collected_static/jet/js/i18n/jquery-ui-timepicker/jquery.ui.timepicker-sv.js
/collected_static/jet/js/i18n/jquery-ui-timepicker/jquery.ui.timepicker-tr.js
/collected_static/rest_framework/js/jquery-3.7.1.min.js
/collected_static/jet/js/src/utils/jquery-icontains.js
/collected_static/jet/js/src/utils/jquery-slidefade.js
/collected_static/jet/css/themes/default/jquery-ui.theme.css
/collected_static/jet/css/themes/green/jquery-ui.theme.css
/collected_static/jet/css/themes/light-blue/jquery-ui.theme.css
/collected_static/jet/css/themes/light-gray/jquery-ui.theme.css
/collected_static/jet/css/themes/light-green/jquery-ui.theme.css
/collected_static/jet/css/themes/light-violet/jquery-ui.theme.css
/collected_static/jet/css/themes/default/jquery-ui.theme.css.map
/collected_static/jet/css/themes/green/jquery-ui.theme.css.map
/collected_static/jet/css/themes/light-blue/jquery-ui.theme.css.map
/collected_static/jet/css/themes/light-gray/jquery-ui.theme.css.map
/collected_static/jet/css/themes/light-green/jquery-ui.theme.css.map
/collected_static/jet/css/themes/light-violet/jquery-ui.theme.css.map
/collected_static/jet/css/themes/default/jquery-ui.theme.scss
/collected_static/jet/css/themes/green/jquery-ui.theme.scss
/collected_static/jet/css/themes/light-blue/jquery-ui.theme.scss
/collected_static/jet/css/themes/light-gray/jquery-ui.theme.scss
/collected_static/jet/css/themes/light-green/jquery-ui.theme.scss
/collected_static/jet/css/themes/light-violet/jquery-ui.theme.scss
/collected_static/admin/js/vendor/select2/i18n/ka.js
/collected_static/admin/js/vendor/select2/i18n/km.js
/collected_static/admin/js/vendor/select2/i18n/ko.js
/collected_static/jet/js/i18n/select2/ko.js
/collected_static/admin/img/LICENSE
/collected_static/drf-yasg/redoc/LICENSE
/collected_static/drf-yasg/redoc-old/LICENSE
/collected_static/drf-yasg/swagger-ui-dist/LICENSE
/collected_static/admin/js/vendor/select2/LICENSE.md
/collected_static/jet.dashboard/vendor/chart.js/LICENSE.md
/collected_static/admin/js/vendor/jquery/LICENSE.txt
/collected_static/admin/js/vendor/xregexp/LICENSE.txt
/collected_static/admin/css/vendor/select2/LICENSE-SELECT2.md
/collected_static/rest_framework/js/load-ajax-form.js
/collected_static/admin/css/login.css
/collected_static/admin/js/vendor/select2/i18n/lt.js
/collected_static/jet/js/i18n/select2/lt.js
/collected_static/admin/js/vendor/select2/i18n/lv.js
/collected_static/jet/js/i18n/select2/lv.js
/collected_static/jet/js/src/features/sidebar/main.js
/collected_static/jet/js/src/main.js
/collected_static/admin/js/vendor/select2/i18n/mk.js
/collected_static/jet/js/i18n/select2/mk.js
/collected_static/admin/img/gis/move_vertex_off.svg
/collected_static/admin/img/gis/move_vertex_on.svg
/collected_static/admin/js/vendor/select2/i18n/ms.js
/collected_static/admin/css/nav_sidebar.css
/collected_static/admin/js/nav_sidebar.js
/collected_static/admin/js/vendor/select2/i18n/nb.js
/collected_static/jet/js/i18n/select2/nb.js
/collected_static/admin/js/vendor/select2/i18n/ne.js
/collected_static/admin/js/vendor/select2/i18n/nl.js
/collected_static/jet/js/i18n/select2/nl.js
/collected_static/drf-yasg/swagger-ui-dist/NOTICE
/collected_static/drf-yasg/swagger-ui-dist/oauth2-redirect.html
/collected_static/jet/js/src/layout-updaters/object-tools.js
/collected_static/jet/js/src/layout-updaters/paginator.js
/collected_static/admin/js/vendor/select2/i18n/pl.js
/collected_static/jet/js/i18n/select2/pl.js
/collected_static/jet/js/src/features/sidebar/popup.js
/collected_static/admin/js/popup_response.js
/collected_static/admin/js/prepopulate.js
/collected_static/admin/js/prepopulate_init.js
/collected_static/rest_framework/css/prettify.css
/collected_static/rest_framework/js/prettify-min.js
/collected_static/admin/js/vendor/select2/i18n/ps.js
/collected_static/admin/js/vendor/select2/i18n/pt.js
/collected_static/jet/js/i18n/select2/pt.js
/collected_static/admin/js/vendor/select2/i18n/pt-BR.js
/collected_static/jet/js/i18n/select2/pt-BR.js
/collected_static/drf-yasg/README
/collected_static/jet.dashboard/vendor/chart.js/README.md
/collected_static/admin/img/README.txt
/collected_static/drf-yasg/redoc/redoc.min.js
/collected_static/drf-yasg/redoc-old/redoc.min.js
/collected_static/drf-yasg/redoc-old/redoc.min.js.map
/collected_static/drf-yasg/redoc/redoc.standalone.js.map
/collected_static/drf-yasg/redoc-init.js
/collected_static/drf-yasg/redoc/redoc-logo.png
/collected_static/jet/js/src/features/related-popups.js
/collected_static/admin/js/related-widget-wrapper.js
/collected_static/jet/js/src/layout-updaters/related-widget-wrapper.js
/collected_static/admin/js/admin/RelatedObjectLookups.js
/collected_static/admin/css/responsive.css
/collected_static/admin/css/responsive_rtl.css
/collected_static/admin/js/vendor/select2/i18n/ro.js
/collected_static/jet/js/i18n/select2/ro.js
/collected_static/admin/css/rtl.css
/collected_static/admin/js/vendor/select2/i18n/ru.js
/collected_static/jet/js/i18n/select2/ru.js
/collected_static/jet/js/src/features/scroll-to-bottom-detector.js
/collected_static/admin/img/search.svg
/collected_static/admin/css/vendor/select2/select2.css
/collected_static/admin/js/vendor/select2/select2.full.js
/collected_static/admin/js/vendor/select2/select2.full.min.js
/collected_static/admin/css/vendor/select2/select2.min.css
/collected_static/jet/css/themes/default/select2.theme.css
/collected_static/jet/css/themes/green/select2.theme.css
/collected_static/jet/css/themes/light-blue/select2.theme.css
/collected_static/jet/css/themes/light-gray/select2.theme.css
/collected_static/jet/css/themes/light-green/select2.theme.css
/collected_static/jet/css/themes/light-violet/select2.theme.css
/collected_static/jet/css/themes/default/select2.theme.css.map
/collected_static/jet/css/themes/green/select2.theme.css.map
/collected_static/jet/css/themes/light-blue/select2.theme.css.map
/collected_static/jet/css/themes/light-gray/select2.theme.css.map
/collected_static/jet/css/themes/light-green/select2.theme.css.map
/collected_static/jet/css/themes/light-violet/select2.theme.css.map
/collected_static/jet/css/themes/default/select2.theme.scss
/collected_static/jet/css/themes/green/select2.theme.scss
/collected_static/jet/css/themes/light-blue/select2.theme.scss
/collected_static/jet/css/themes/light-gray/select2.theme.scss
/collected_static/jet/css/themes/light-green/select2.theme.scss
/collected_static/jet/css/themes/light-violet/select2.theme.scss
/collected_static/admin/js/SelectBox.js
/collected_static/admin/js/SelectFilter2.js
/collected_static/admin/img/selector-icons.svg
/collected_static/jet/js/src/features/selects.js
/collected_static/jet/js/src/features/siblings.js
/collected_static/admin/js/vendor/select2/i18n/sk.js
/collected_static/jet/js/i18n/select2/sk.js
/collected_static/admin/js/vendor/select2/i18n/sl.js
/collected_static/admin/img/sorting-icons.svg
/collected_static/admin/js/vendor/select2/i18n/sq.js
/collected_static/admin/js/vendor/select2/i18n/sr.js
/collected_static/jet/js/i18n/select2/sr.js
/collected_static/admin/js/vendor/select2/i18n/sr-Cyrl.js
/collected_static/jet/js/src/layout-updaters/stacked-inline.js
/collected_static/drf-yasg/style.css
/collected_static/jet/css/icons/style.css
/collected_static/range_filter/css/style.css
/collected_static/admin/js/vendor/select2/i18n/sv.js
/collected_static/jet/js/i18n/select2/sv.js
/collected_static/drf-yasg/swagger-ui-dist/swagger-initializer.js
/collected_static/drf-yasg/swagger-ui-dist/swagger-ui.css
/collected_static/drf-yasg/swagger-ui-dist/swagger-ui.css.map
/collected_static/drf-yasg/swagger-ui-dist/swagger-ui.js.map
/collected_static/drf-yasg/swagger-ui-dist/swagger-ui-bundle.js
/collected_static/drf-yasg/swagger-ui-dist/swagger-ui-bundle.js.map
/collected_static/drf-yasg/swagger-ui-dist/swagger-ui-es-bundle.js
/collected_static/drf-yasg/swagger-ui-dist/swagger-ui-es-bundle.js.map
/collected_static/drf-yasg/swagger-ui-dist/swagger-ui-es-bundle-core.js
/collected_static/drf-yasg/swagger-ui-dist/swagger-ui-es-bundle-core.js.map
/collected_static/drf-yasg/swagger-ui-init.js
/collected_static/drf-yasg/swagger-ui-dist/swagger-ui-standalone-preset.js
/collected_static/drf-yasg/swagger-ui-dist/swagger-ui-standalone-preset.js.map
/collected_static/jet/js/src/layout-updaters/tabular-inline.js
/collected_static/admin/js/vendor/select2/i18n/th.js
/collected_static/jet/js/i18n/select2/th.js
/collected_static/admin/js/theme.js
/collected_static/jet/js/src/features/themes.js
/collected_static/admin/js/vendor/select2/i18n/tk.js
/collected_static/jet/js/src/layout-updaters/toolbar.js
/collected_static/admin/img/tooltag-add.svg
/collected_static/admin/img/tooltag-arrowright.svg
/collected_static/jet/js/src/features/tooltips.js
/collected_static/jet/js/src/features/touchmove-non-scrollable.js
/collected_static/admin/js/vendor/select2/i18n/tr.js
/collected_static/jet/js/i18n/select2/tr.js
/collected_static/jet/js/src/utils/translate.js
/collected_static/jet/css/jquery-ui/images/ui-bg_flat_0_aaaaaa_40x100.png
/collected_static/jet/css/jquery-ui/images/ui-bg_flat_75_ffffff_40x100.png
/collected_static/jet/css/jquery-ui/images/ui-bg_glass_55_fbf9ee_1x400.png
/collected_static/jet/css/jquery-ui/images/ui-bg_glass_65_ffffff_1x400.png
/collected_static/jet/css/jquery-ui/images/ui-bg_glass_75_dadada_1x400.png
/collected_static/jet/css/jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png
/collected_static/jet/css/jquery-ui/images/ui-bg_glass_95_fef1ec_1x400.png
/collected_static/jet/css/jquery-ui/images/ui-bg_highlight-soft_75_cccccc_1x100.png
/collected_static/jet/css/jquery-ui/images/ui-icons_2e83ff_256x240.png
/collected_static/jet/css/jquery-ui/images/ui-icons_222222_256x240.png
/collected_static/jet/css/jquery-ui/images/ui-icons_454545_256x240.png
/collected_static/jet/css/jquery-ui/images/ui-icons_888888_256x240.png
/collected_static/jet/css/jquery-ui/images/ui-icons_cd0a0a_256x240.png
/collected_static/admin/js/vendor/select2/i18n/uk.js
/collected_static/jet/js/i18n/select2/uk.js
/collected_static/admin/css/unusable_password_field.css
/collected_static/admin/js/unusable_password_field.js
/collected_static/admin/js/urlify.js
/collected_static/jet/js/src/layout-updaters/user-tools.js
/collected_static/jet/css/vendor.css
/collected_static/admin/js/vendor/select2/i18n/vi.js
/collected_static/jet/js/i18n/select2/vi.js
/collected_static/admin/css/widgets.css
/collected_static/jet/js/src/utils/window-storage.js
/collected_static/admin/js/vendor/xregexp/xregexp.js
/collected_static/admin/js/vendor/xregexp/xregexp.min.js
/collected_static/jet.dashboard/dashboard_modules/yandex_metrika.js
/collected_static/admin/js/vendor/select2/i18n/zh-CN.js
/collected_static/jet/js/i18n/select2/zh-CN.js
/collected_static/admin/js/vendor/select2/i18n/zh-TW.js
/collected_static/jet/js/i18n/select2/zh-TW.js
