SECRET_KEY=django-insecure-98&6=%4kqo+!$150)no_ns86_(f!tkmu=d46x+ja-i1(7#offk
DEBUG=True
ALLOWED_HOSTS=*

# База данных
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

# Электронная почта
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=dc7g-ivo@yandex.ru
EMAIL_HOST_PASSWORD=epufsbfzpbvsbfvn
DEFAULT_FROM_EMAIL=dc7g-ivo@yandex.ru
SERVER_EMAIL=dc7g-ivo@yandex.ru # моя почта с приложением для отправки писем, 

ADMIN_EMAIL=*** # Указать любую почту к которой есть доступ, будут приходить сообщения как администратору

# Redis Cache
#REDIS_LOCATION=redis://localhost:6379/0
REDIS_LOCATION=redis://backend-redis:6379/0

# Celery Broker
#CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://backend-redis:6379/0
#CELERY_RESULT_BACKEND=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://backend-redis:6379/0

# Address server
SITE_URL=http://127.0.0.1:8000




