SECRET_KEY=django-insecure-98&6=%4kqo+!$150)no_ns86_(f!tkmu=d46x+ja-i1(7#offk
JWT_SIGNING_KEY=9a62a91562daf93e976088da05050d0186490c316a55551bcc2e2ef9e125ca95
DEBUG=True
ALLOWED_HOSTS=*

# База данных
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

# Электронная почта
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=dc7g-ivo@yandex.ru
EMAIL_HOST_PASSWORD=epufsbfzpbvsbfvn
DEFAULT_FROM_EMAIL=dc7g-ivo@yandex.ru
SERVER_EMAIL=dc7g-ivo@yandex.ru # моя почта с приложением для отправки писем,

ADMIN_EMAIL=sereny9@mail.ru # Указать любую почту к которой есть доступ, будут приходить сообщения как администратору

# Redis Cache
#REDIS_LOCATION=redis://localhost:6379/0
REDIS_LOCATION=redis://backend-redis:6379/0

# Celery Broker
#CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://backend-redis:6379/0
#CELERY_RESULT_BACKEND=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://backend-redis:6379/0

# Address server
SITE_URL=http://127.0.0.1:8000

# Yandex
SOCIAL_AUTH_YANDEX_KEY=b922d90751ce40048b213a3dc043f139
SOCIAL_AUTH_YANDEX_SECRET=1f1b3aab462542269395a5e76cc99e36

# GitHub
SOCIAL_AUTH_GITHUB_KEY=Ov23lidAzMMmG6nVLGyk
SOCIAL_AUTH_GITHUB_SECRET=d7bad24597e3083ac048c42eecf4360d29632f7a

# Rollbar
ROLLBAR_ACCESS_TOKEN=a558e533e6ab4e899d42c5083eccafda18910612f4a487b532f6aa511931efbf0f0ee5980c76ba5d6746cf49d0bc275d



